.poem-box {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Junge', serif;
    /* background-repeat: round; ????? */
}

.title {
    font-family: 'Junge', serif;
    font-size: 30px;
}

.author {
    font-family: 'Junge', serif;
    font-size: 20px;
    font-weight: 700;
}